@font-face {
  font-family: 'GD Boing';
  src: url('https://www.mobile.club/fonts/boing_regular.woff2');
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
}
@font-face {
  font-family: 'GD Boing';
  src: url('https://www.mobile.club/fonts/boing_medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'GD Boing';
  src: url('https://www.mobile.club/fonts/boing_semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'GD Boing';
  src: url('https://www.mobile.club/fonts/boing_bold.woff2');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'GD Boing', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
